/* bungee-regular - latin */
@font-face {
    font-family: 'bungee';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bungee-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Bungee'), local('Bungee-Regular'),
            url('../fonts/bungee-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/bungee-v5-latin-regular.svg#Bungee') format('svg'); /* Legacy iOS */
}

body {
    overflow: hidden;
    margin: 0px;
    font-family: bungee;
    color: white;
    background-color: #473763;
}

h1 {font-size: 4em; margin: 0;}
h2 {font-size: 3em; margin: 0;}
h3 {font-size: 2.5em; margin: 0;}
h4 {font-size: 1.8em; margin: 0;}

.flex-even-space {
    flex-basis: 0;
    flex-grow: 1;
}

.flex-hv-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing {
    display: flex;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
}

.full-frame {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.cursor-default {
    cursor: default;
}

.cursor-clickable {
    cursor: pointer;
    user-select: none;
}