body {
    overflow: hidden;
    margin: 0px;
    font-family: sans-serif;
    color: white;
    background-color: #473763;
}

h1 {font-size: 4em;}
h2 {font-size: 3em;}
h3 {font-size: 2.5em;}
h4 {font-size: 1.8em;}

#brightness-overlay {
    pointer-events: none;
    background-color: rgba(0,0,0,0);
    z-index: 100;
}

.flex-even-space {
    flex-basis: 0;
    flex-grow: 1;
}

.flex-hv-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing {
    display: flex;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
}

.full-frame {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.cursor-default {cursor: default;}

.cursor-clickable {
    cursor: pointer;
    user-select: none;
}

.no-margin {margin: 0;}
