#game-landing {
    display: none;
    opacity: 0;
    background-image: url("/static/img/game-background.png");
}

#status-panel {
    padding: 0px 25px 10px 0px;
    background-color: rgba(0,0,0,0.1);
    background-size: cover;
    border-radius: 0px 0px 5px 0px;
    position: fixed;
    width: 375px;
    top: 0px;
    left: 0px;
}

#general-chat {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    height: 50px;
    bottom: 0px;
    right: 20px;
    transition: height 0.5s;
}

#general-chat div {margin: 3px;}
#settings-cog {filter: invert(1);}
#profile-entry img {height: 150px;}

.status-bar {
    -webkit-appearance: none;
    height: 25px;
    margin-left: 20px;
    border-radius: 10px;
}

.status-bar::-webkit-progress-bar {background-color: white;}
.status-bar::-webkit-progress-value {background-color: #B5A1C6;}

.chat-box {
    height: 400px;
    width: 275px;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}

.chat-top-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    height: 50px;
    background-color: #FFD200;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px 5px 0px 0px;
}

.incoming-chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    height: 300px;
    background-color: #DDD;
}

.incoming-chat p {
    margin: 5px 5px;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFD200;
}

.chat-input {
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FFD200;
    border: none;
}
