#login-landing {
    display: none;
    z-index: -1;
}

#login-overlay {z-index: 100;}

#login-panel {
    flex-direction: column;
    width: 620px;
    height: 375px;
    border: 5px solid white;
    border-radius: 15px;
    background-color: #B5A1C6;
}

#login-seperator {
    margin-top: 20px;
    width: 75%;
    height: 5px;
    background-color: white;
}

.login-input  {
    margin-left: 25px;
    width: 300px;
    font-size: 2em;
}

.login-button {
    width: 400px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: #E0B700;
    color: white;
}

.signup-button {background-color: #652DC6;}

.login-margin {margin: 15px 0px}