#main-options {text-align: center;}

.main-left {
    position: relative;
    left: 0px;
    height: 100%;
    background-color: #473763;
    transition: left 0.5s;
}

.main-right {
    position: relative;
    right: 0px;
    height: 100%;
    background-color: #B5A1C6;
    transition: right 0.5s;
}

.main-left-hide {
    left: -50vw;
}

.main-right-hide {
    right: -50vw;
}

.main-title-underline {
    border-bottom: solid gold 5px;
    box-sizing: border-box;
}