#profile-landing {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#profile-panel {
    width: 650px;
    height: 420px;
    border: 5px solid white;
    border-radius: 15px;
    background-color: #FFD200;
}

#profile-sidepanel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 140px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    z-index: 11;
}

#profile-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#profile-details {
    flex-grow: 1;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    z-index: 11;
}

.profile-item {
    height: 125px;
    width: 125px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);
}

.profile-title {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
    color: #34115E
}

.profile-details-container {width: 85%;}

.profile-status-bar-container {justify-content: flex-start;}
.profile-status-bar::-webkit-progress-value {background-color: #DE37C8;}
