#settings-landing {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#settings-background {
    position: absolute;
    height: 100%;
    width: 100%;
}

#settings-panel {
    display: flex;
    width: 75%;
    height: 75%;
    border: 5px solid white;
    border-radius: 15px;
}

#settings-sidepanel {
    height: 100%;
    flex-grow: 0;
    padding: 0px 50px;
    background-color: #473763;
    border-radius: 20px 0px 0px 20px;
    z-index: 11;
}

#settings-options {
    height: 100%;
    flex-grow: 1;
    background-color: #B5A1C6;
    border-radius: 0px 10px 10px 0px;
    z-index: 12;
}