#settings-landing {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#settings-panel {
    display: flex;
    width: 70%;
    height: 70%;
    border: 5px solid white;
    border-radius: 15px;
}

#settings-sidepanel {
    height: 100%;
    flex-grow: 0;
    padding: 0px 50px;
    background-color: #473763;
    border-radius: 10px 0px 0px 10px;
    z-index: 11;
}

#settings-options {
    height: 100%;
    flex-grow: 1;
    background-color: #B5A1C6;
    border-radius: 0px 10px 10px 0px;
    z-index: 12;
}