<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"></head>
    <body>
        <div id="main-landing" class="landing flex-hv-center">
            <div class="flex-even-space flex-hv-center main-left">
                <h1 class="title-underline cursor-default">ALTERNAR.IO</h1>
            </div>
            <div class="flex-even-space flex-hv-center main-right">
                <div id="main-options">
                    <h2 id="play-main" class="cursor-clickable no-margin">PLAY</h2>
                    <h3 id="settings-main" class="cursor-clickable no-margin">Settings</h3>
                    <h3 id="credits-main" class="cursor-clickable no-margin">Credits</h3>
                </div>
            </div>
        </div>
        <div id="login-landing" class="landing">
            <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
            <div id="login-overlay" class="full-frame"></div>
            <div id="login-panel">
                <div class="username-block">
                    <h4 class="inline-block no-margin">Username</h4>
                    <input id="username-input" type="text" class="login-input">
                </div>
                <div class="password-block">
                    <h4 class="inline-block no-margin">Password</h4>
                    <input id="password-input" type="password" class="login-input">
                </div>
                <button class="login-button">LOGIN</button>
                <div id="login-seperator"></div>
                <div class="signup-block">
                    <h4 class="no-margin">Don't have an account?</h4>
                    <button class="login-button signup-button">SIGN UP</button>
                </div>
            </div>
        </div>
        <div id="game-landing" class="landing">
            <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
            <div id="game-panel"></div>
            <div id="group-chat"></div>
            <div id="status-panel">
                <div id="sp-status" class="status-group">
                    <h4 class="no-margin inline-block">SP</h4>
                    <progress id="sp-bar" class="status-bar" value="65" max="100"></progress>
                </div>
                <div id="xp-status" class="status-group">
                    <h4 class="no-margin inline-block">XP</h4>
                    <progress id="xp-bar" class="status-bar" value="20" max="100"></progress>
                </div>
                <div id="settings-cog">
                    <img src="https://img.icons8.com/ios-filled/50/000000/administrative-tools.png"/>
                </div>
            </div>
            <div id="profile-entry">
                <img src="https://i.ibb.co/vx9Xdjc/verity.png">
            </div>
            <div id="general-chat" class="chat-box">
                <div class="chat-top-bar">General Chat</div>
                <div class="incoming-chat"></div>
                <div class="outbound-chat">
                    <input type="text" class="chat-input">
                </div>
            </div>
        </div>
        <div id="profile-landing" class="landing">
            <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
            <div id="profile-background" class="clickable"></div>
            <div id="profile-panel">
                <div id="profile-sidepanel" class="full-height inline-block">
                    <div class="profile-item"><img src="https://img.icons8.com/ios-filled/100/000000/ingredients.png"/></div>
                    <div class="profile-item"><img src="https://img.icons8.com/ios-filled/100/000000/bento.png"/></div>
                    <div class="profile-item"><img src="https://img.icons8.com/ios-filled/100/000000/new-product.png"/></div>
                </div>
                <div id="general-profile-div" class="inline-block">
                    <h3 class="profile-title no-margin text-center">PROFILE</h3>
                    <div class="profile-avatar inline-block">
                        <img src="https://i.ibb.co/Hd9N8WH/verity.png">
                    </div>
                    <div class="profile-info inline-block">
                        <h3 class="no-margin">NAME: VERITY</h3>
                        <h3 class="no-margin">LV: 5</h3>
                        <h3 class="no-margin">EXP</h3>
                        <progress id="xp-profile-bar" class="status-bar" value="20" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
        <div id="settings-landing" class="landing">
            <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
            <div id="settings-container" class="full-frame flex-hv-center">
                <div id="settings-panel">
                    <div id="settings-sidepanel">
                        <h3 id="gameplay-settings-link" class="cursor-clickable no-margin">GAMEPLAY</h3>
                        <h3 id="controls-settings-link" class="cursor-clickable no-margin">CONTROLS</h3>
                        <h3 id="audio-settings-link" class="cursor-clickable no-margin">AUDIO</h3>
                        <h3 id="display-settings-link" class="cursor-clickable no-margin">DISPLAY</h3>
                        <h3 id="social-settings-link" class="cursor-clickable no-margin">SOCIAL</h3>
                    </div>
                    <div id="settings-options"></div>
                </div>
            </div>
            <div id="settings-background" class="cursor-clickable"></div>
        </div>
        <div id="credits-landing" class="landing">
            <link rel="stylesheet" type="text/css" href="{% static 'css/credits.css' %}">
            <div id="credits-overlay" class="full-frame cursor-clickable"></div>
            <div id="credits-container" class="flex-hv-center full-frame">
                <h2 class="no-margin">Brian Kim</h2>
                <h2 class="no-margin">세진</h2>
                <h2 class="no-margin">윤성희</h2>
                <h2 class="no-margin">이윤진</h2>
                <h2 class="no-margin">조현아</h2>
            </div>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/login.js' %}"></script>
        <script src="{% static 'js/game.js' %}"></script>
        <script src="{% static 'js/profile.js' %}"></script>
    </body>
</html>